# Server Config

SECRET=text
DEBUG=True
ALLOWED_HOSTS=0.0.0.0
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Database Config

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres_db
DB_PORT=5432
DB_LOG_MODE=True
SSL_MODE=disable

HD_WALLET_MNEMONIC=media nerve fog identify typical physical aspect doll bar fossil frost because