# Server Config

SECRET=text
DEBUG=True
ALLOWED_HOSTS=0.0.0.0
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Database Config

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_LOG_MODE=True
SSL_MODE=disable

# Order Config
RECEIVE_ADDRESS_VALIDITY=30
HD_WALLET_MNEMONIC=media nerve fog identify typical physical aspect doll bar fossil frost because
PAYCREST_ORDER_CONTRACT_ADDRESS=0xd39074fe0B5A571b7F09F42C736a88b01298d70D
BUNDLER_RPC_URL=
PAYMASTER_URL=
ENTRY_POINT_CONTRACT_ADDRESS=

# Email Config
EMAIL_DOMAIN=sandbox9c66b379b78d43d2b1533bf2a09a5325.mailgun.org
EMAIL_APIKEY="2fa62003d4c512cd0b0f3b429158f87c-7ca144d2-bc81222c"
